services:
    frontend:
        container_name: frontend
        build:
            context: ./frontend
            dockerfile: Dockerfile
        volumes:
            - ./frontend:/app
            - node_modules:/app/node_modules
        ports:
            # Expo ports
            - "19000:19000" # Expo DevTools
            - "19001:19001" # Expo DevTools
            - "19002:19002" # Expo DevTools
            - "19006:19006" # Webpack Dev Server (web)
            - "8081:8081" # Metro Bundler
        env_file:
            - .env
        environment:
            - EXPO_DEVTOOLS_LISTEN_ADDRESS=0.0.0.0
            - REACT_NATIVE_PACKAGER_HOSTNAME=localhost
        working_dir: /app
        command: npx expo start --tunnel
        tty: true
        stdin_open: true

volumes:
    node_modules:
